@{
    ViewBag.Title = "Audit_Logs";
    if (ViewBag.viewID == 0)
    {
        <div class="page-header">
            <h2>Audit Logs</h2>
        </div>
    }
    else
    {
        Layout = null;
    }

}

<div class="col-md-12 col-sm-12 col-lg-12">
    <table id="auditlogs" class="table table-striped table-bordered table-condensed text-left" cellspacing="0" style="width:100%">
        <thead>
            <tr>
                <th>Event</th>
                <th>Event Description</th>
                <th>Remarks</th>
                <th>User</th>
                <th>Time Stamp</th>
            </tr>
        </thead>
    </table>
</div>



@if (ViewBag.viewID == 0)
{
    @section Scripts{
    <script>
        $(document).ready(function () {
            GetAuditLogs();
        });
    </script>
    }
}
else
{
    <script>
        $(document).ready(function () {
            GetAuditLogs();
        });
    </script>
}










<script>

    var auditlogsdataTable;
    function GetAuditLogs() {

        try {
            auditlogsdataTable.destroy();
        } catch (e) {
        }

        auditlogsdataTable = $("#auditlogs").DataTable({
            "ajax": {
                "url": "/SharedCall/GetAuditLogs?id=" + '@ViewBag.FilterID' + '&partID=' + @ViewBag.partID +'&engineDbkey=' + @ViewBag.engineDbkey,
                "type": "GET",
                "dataSrc": "",
                "datatype": "json"
            },
            responsive: true,
            paging: false,
            scrollY: 400,
            deferRender: true,
            "order": [[4, 'desc']],

            "columns": [
                { "data": "Activity_Name" },
                { "data": "Event_Description" },
                { "data": "Remarks" },
                { "data": "UserName" },
                {
                    "data": "Updated_On",
                    render: function (data, type, row) {
                        if (type === 'display' || type === 'filter') {
                            return (moment(data).format("DD/MM/YYYY h:mm:ss A"));
                        }
                        return data;
                    }
                }


            ],

            //columnDefs: [{
            //    targets: [-1], render: function (a, b, data, d) {

            //        return "<div class='btn-group'> <button type='button' class='btn btn-sm btn-success btn-outline dropdown-toggle writeaccess' data-toggle='dropdown'>Actions</button>"
            //            + "<ul class='dropdown-menu dropdown-menu-right'>"
            //             + "<li><a style='cursor:pointer' onclick='EditEngine(" + data.BL_Engine_Dbkey + ")'>Edit</a></li>"
            //            + "<li><a style='cursor:pointer' onclick='Assignparts(" + data.BL_Engine_Dbkey + ")'>Assign Engine Parts</a></li>"
            //        + "</ul ></div"
            //    },
            //    "orderable": false,
            //    "paging": false,
            //    "ordering": false,

            //},
            //]
        });

        $('.DT-search .form-control').attr('placeholder', 'Search...');
        $('.DT-search .form-control').attr('class', 'DT-search form-control');
        $('.DT-lf-right').attr('class', 'pull-left');
        $('.dataTables_length').attr('class', 'dataTables_length DT-lf-right');

    }


</script>