@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Reports";
}


<h3>Procurement Reports</h3>
<hr />
<div class="list-group">
    <a class="list-group-item list-group-item-action flex-column align-items-start p-3 p-sm-4" href="/Report/InventoryReport" >
        <div class="d-flex flex-column flex-sm-row justify-content-between mb-1 mb-md-0">
            <h5 class="mb-1">Consolidated Raw-Material Inventory Detail</h5>
        
        </div>
        <p class="mb-1">Comprehensive Raw Material Inventory information: Material-Wise Details with Received and Issued Quantities Breakdown </p>
   
    </a>
    <a class="list-group-item list-group-item-action flex-column align-items-start p-3 p-sm-4" href="/Report/DemandReportsView">
        <div class="d-flex flex-column flex-sm-row justify-content-between mb-1 mb-md-0">
            <h5 class="mb-1">Demand Status Report</h5>
       
        </div>
        <p class="mb-1">Demand Status Report: Comprehensive Insights into Cost Information and Current Status  </p>
        
    </a>
    <a class="list-group-item list-group-item-action flex-column align-items-start p-3 p-sm-4" href="/Report/AgRMInventoryReport">
        <div class="d-flex flex-column flex-sm-row justify-content-between mb-1 mb-md-0">
            <h5 class="mb-1">Raw-Material Inventory Report</h5>
 
        </div>
        <p class="mb-1">Raw Materials Inventory Overview </p>
 
    </a>


    <a class="list-group-item list-group-item-action flex-column align-items-start p-3 p-sm-4" href="/Report/MaterialIssueReport">
        <div class="d-flex flex-column flex-sm-row justify-content-between mb-1 mb-md-0">
            <h5 class="mb-1">Material Issue Report</h5>
        </div>
        <p class="mb-1">Comprehensive Material Issue Report: Vendor, Raw Material, Purpose, and Parts information</p>
    </a>

  @*   <a class="list-group-item list-group-item-action flex-column align-items-start p-3 p-sm-4" href="#">
        <div class="d-flex flex-column flex-sm-row justify-content-between mb-1 mb-md-0">
            <h5 class="mb-1">Forging Receipt Detail</h5>
        </div>
        <p class="mb-1">Work In Progress </p>
    </a>
    <a class="list-group-item list-group-item-action flex-column align-items-start p-3 p-sm-4" href="#!">
        <div class="d-flex flex-column flex-sm-row justify-content-between mb-1 mb-md-0">
            <h5 class="mb-1">Parts Inventory Report</h5>
        </div>
        <p class="mb-1">Work In Progress</p>
    </a>

   <a class="list-group-item list-group-item-action flex-column align-items-start p-3 p-sm-4" href="/Report/DemandDataEntryStatusDetail">
        <div class="d-flex flex-column flex-sm-row justify-content-between mb-1 mb-md-0">
            <h5 class="mb-1">Demand Data Entry Status</h5>
        </div>
        <p class="mb-1">Work In Progress</p>
    </a>

    <a class="list-group-item list-group-item-action flex-column align-items-start p-3 p-sm-4" href="/Report/DemandSplitAndDocMapStatus">
        <div class="d-flex flex-column flex-sm-row justify-content-between mb-1 mb-md-0">
            <h5 class="mb-1">Demand Data Entry Status</h5>
        </div>
        <p class="mb-1">Work In Progress</p>
    </a>
 *@
</div>

