@model MPCRS.ViewModels.EngineBuildsVM
@{
    Layout = null;
}


<div style="align-items:center">
    <div class="text-center">
        <img style="border:none" src="~/assets/img/drdologo.png" />
    </div>
    <br />
    <div class="row">
        <div class="col offset-1 text-start">
            <b style="font-size:22px!important">Standard of Preparation (SOP)</b>
        </div>
        <div class="col offset-1 text-centre">
            <h4>@Model.Description</h4>
            <b class="mt-1" style="font-size:22px!important">@Model.BuildName</b>
        </div>
    </div>

    <div class="text-center">
        <img class="img img-thumbnail" style="border:none" src="~/assets/img/stfe_logo.jpg" />
    </div>

    <div style="min-height:100px!important; margin-top:40px; font-weight:bold;">
        <div class="col-md-12">
            <div class="text-center">
                <b style="font-size:28px!important">
                    Configuration Controll Cell
                    <br />
                    Project Office
                    <br />
                    Small Turbo Fan Engine
                    <br />
                    Gas Turbine Research Establishment
                    <br />
                    Defence Research & Development Organisation
                    <br />
                    C V Raman Nagar, Banglore
                </b>
            </div>

        </div>


    </div>
    <br />
    <div class="text-center" style="padding-top:20px!important">
        <b>@Model.BuildDate.Value.ToString("dd-MM-yyyy")</b>
    </div>
</div>
