@model int;
@using MPCRS.Utilities;
@{
    Layout = null;
    var attachmentData = MPGlobals.GetAttachmentsData("ACSNItems", Model);

    foreach (var item in attachmentData)
    {
        <div class="d-flex align-items-center mb-1">
            <span onclick="deleteACSNattachments(this,@item.Attachment_Db_Key, @item.Source_table_key)" style="cursor:pointer; margin-right:10px" class="text-danger uil uil-glass-tea"></span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text me-2" style="stroke-width:2.5;"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
            <h6 class="mb-0">@item.Attachment_type  | <a target="_blank" href="@(item.Attachment_location+item.Attachment_FileName)">@item.Orginal_File_Name</a>  </h6>


        </div>
    }
}