@using System.Data
@using MPCRS.Utilities
@{
    ViewData["Title"] = "SOP Comparison";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Permission_Write = UserData.IsAuthorized(User, Constants.UserPermissions.MPL_Report_Read);
    var builds = MPGlobals.GetDataForDatalist("SELECT * FROM [dbo].[EngineBuilds] order by 1 desc");
}
<div class="page-header">
    <div class="col-12">
        <div class="row">
            <div class="col-sm-2">
                <h4>SOP Comparison</h4>
            </div>
            <div class="col-md-2">
                <b>Build 1 (Old Build )</b>
                <div class="input-group">
                    <select class="form-control form-select" id="build2" onchange="filterBuild()">
                        @{
                                <option value="0">Select</option>
                            foreach (DataRow item in builds.Rows)
                            {
                                    <option value="@item["Id"]">@item["BuildName"]</option>
                            }
                        }
                    </select>
                    
                </div>
            </div>
            <div class="col-md-2">
                <b>Build 2 (New Build - Check Changes)</b>
                <div class="input-group">
                    <select class="form-control form-select" id="build1">
                        @{
                                <option value="0">Select</option>
                            foreach (DataRow item in builds.Rows)
                            {
                                    <option value="@item["Id"]">@item["BuildName"]</option>
                            }
                        }
                    </select>
                </div>
            </div>
 
            <div class="col-md-2" style="margin-top:25px!important">
                <input type="checkbox" id="changesOnly" checked style="height:18px!important;width:18px!important" />Show only changes
            </div>
            <div class="col-md-1" style="margin-top:25px!important">
                <a onclick="GetSOPComparison()" class="btn btn-primary" style="width:100%">Go</a>
            </div>
            <div class="col-md-2" style="margin-top:25px!important">
                <a class="btn btn-success" href="/SOPManagement/AllBuildComparison">Compare across all builds</a>
            </div>
            <div class="col-md-1" style="margin-top:25px!important">
                <a class="btn btn-secondary" href="/SOPManagement/BaseLineEngines">Back</a>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="col-md-12 col-sm-12 col-lg-12 divc">
    <label id="Comparsion_Label"></label>
    <table class="table table-bordered table-sm fs--1 mb-2" id="SOPCompTable">
        <thead>
            <tr>
                <th data-sortable="true" scope="col">Sl No</th>
                <th data-sortable="true" scope="col">Build</th>
                <th data-sortable="true" scope="col">Parent</th>
                <th data-sortable="true" scope="col">Part No</th>
                <th data-sortable="true" scope="col">Description</th>
                <th data-sortable="true" scope="col">Part Status</th>
                <th data-sortable="true" scope="col">Comparison Remarks</th>
            </tr>
        </thead>
    </table>
</div>

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var MPCData;
        var MPCDataForList = [];

        $(document).ready(function () {
            //GetMPL_Comaparision();
        });
        function GetSOPComparison() {
            var E1 = document.getElementById("build1");
            var E2 = document.getElementById("build2");
            var IsChangeOnly = document.getElementById("changesOnly").checked;
            document.getElementById("Comparsion_Label").innerText = "SOP Comparison between " + E2.options[E2.selectedIndex].text + " and " + E1.options[E1.selectedIndex].text;

            $.ajax({
                type: "Get",
                url: "/SOPManagement/GetSOPComparison?BL1=" + E1.value + "&BL2=" + E2.value + "&IsChangeOnly=" + IsChangeOnly,
                success: function (data) {
                    MPCDataForList = JSON.parse(data);
                    GetMPL_Comaparisionlist();
                }
            })
        }

        function GetMPL_Comaparisionlist() {

            try {
                dataTable.destroy();
            } catch (e) {
            }

            dataTable = $("#SOPCompTable").DataTable({
                scrollY: 510,
                data: MPCDataForList,
                // responsive: true,
                paging: false,
                //"order": [[0, "asc"]],
                dom: 'Bfrtip',
                buttons: [{
                    extend: 'excel',
                    title: document.getElementById("Comparsion_Label").innerText,
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6] //Your Colume value those you want
                    }
                }],
                "columns": [
                    { "data": "SL_No_new" },
                    { "data": "SOP" },
                    { "data": "B1_ParentPart" },
                    { "data": "B1_Part" },
                    { "data": "B1_Description" },
                    { "data": "Change_log_status" },
                    { "data": "ChangeRemarks" },
                ]

            });
        }

        function filterBuild() {
            var BuildId = document.getElementById('build2').value;
            var Element_ToBeFiltered = document.getElementById("build1");
            var option = document.createElement("option");
            Element_ToBeFiltered.innerHTML = '';
            $.ajax({
                type: "Get",
                url: "/SOPManagement/GetColnedBuild?BuildId=" + BuildId,
                success: function (data) {
                    console.log(data);
                    if (data.buildId === 0) {
                        console.log("not found");
                        option.value = 0;
                        option.text = "";
                        Element_ToBeFiltered.appendChild(option);
                    } else {
                        option.value = data.buildId;
                        option.text = data.buildName;
                        Element_ToBeFiltered.appendChild(option);
                    }
                }
            })
        }
    </script>
}