@using MPCRS.Utilities;
@using System.Data;
@{
	ViewBag.Title = "DemandReceiptsHistory";

	var demandSelectList = Masters.GetDemandSelectList();
}
<style>
	table.dataTable tr.group td {
		font-weight: bold;
		background-color: #e0e0e0
	}
</style>

@* <div class="page-header row">
	<div class="col-3">
		<h3>Demand Receipt Details</h3>
	</div>
	<div class="col-1 d-flex align-items-start justify-content-end">
		<b>Demand</b>
	</div>
	<div class="col-8 ">
		<select class="form-select" id="Demands" onchange="getTable(this)" asp-items="@demandSelectList"></select>
		<input type="hidden" value="@ViewBag.DemandID" id="DemandID" />
	</div>
</div> *@

<hr />
<div class="row">
	<div class="table-responsive">
		<table id="partsTbl" class="table table-sm fs--1 mb-2 table-bordered table-responsive" cellspacing="0" style="width:100%;">
			<thead>
				<tr>
					@* <th>Demand No.</th> *@
					<th>MMG No.</th>
					<th>Receipt No.</th>
					<th>Receipt Date.</th>
					<th>Item</th>
					<th class="text-end">Ordered Qty</th>
					<th class="text-end">Received Qty</th>
					<th></th>
				</tr>

			</thead>
		</table>
	</div>
</div>




